body{
	font-family: Helvetica, Arial, sans-serif;
	color: black;
	   border-style: 1px solid red;

}

#header-nav {
  background-color: #49274A;
  border-radius: 0;
  border: 0;
}

.navbar-brand p { /* Company name */
  
  color: #003300;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-default .navbar-text{
  color:#fff;
}

#nav-list a {
  color: #fff;
  text-align: center;

}
#nav-list a:hover {
  color: #000;
  background-color: #F8EEE7;
  text-align: center;
}


.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

#mainheading {
  	text-align: center;
}
.text-center >h1{
  color:  #49274A;
}


.row {
	height: auto;
	width:100%;
	border: 0px solid black;
	margin:0;
}
.section {
	background-color: #94618E;
	padding: 10px;
	color: white;
	margin: 10px 0px;
}
.item {
	text-align: center;
	font-size: 1.5em;
}



/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 1199{ ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }